body {
  font-size: 24px;
  margin: 2rem;
}

button {
  background: #ffc600;
  border: 0;
  padding: 10px 20px;
}

img {
  max-width: 100%;
}

.wrapper {
  display: grid;
  gap: 20px;
}

.top {
  display: grid;
  gap: 20px;
  grid-template-areas: 
  "hero hero cta1"
  "hero hero cta2";
}

.hero {
  background-color: #ffc600;
  grid-area: hero;
  min-height: 400px;
  background: white url(./images/taco.jpg);
  background-position: bottom right;
  background-size: cover;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.hero > * {
  background-color: #ffc600;
  padding: 10px;
}

.cta {
  background: #ffc600;
  display: grid;
  justify-items: center;
  align-items: center;
  align-content: center;
}

.cta p {
  margin: 0;
}

.price {
  font-size: 6rem;
}

.cta1 {
  grid-area: cta1;
}

.cta2 {
  grid-area: cta2;
}

/* NAV */

.menu ul {
  display: grid;
  /* MARGIN: 10px 0; */
  padding: 0;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  list-style: none;
}

.menu a {
text-transform: uppercase;
  display: block;
  background: #ffc600;
  padding: 10px;
  margin: 0;
  text-align: center;
  color: #1c1c1c;
  text-decoration: none;
}

[aria-controls="menu-list"] {
  display: none;
}

.features {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.feature {
  background: #ffc600;
  padding: 60px;
  text-align: center;
}
.feature .icon {
  font-size: 6rem;
}

.feature h3 {
  font-size: 6rem;
  margin-bottom: 0.2rem;
}

.feature p {
  color: #222;
  margin: 0 0 1rem;
}

.about {
  background: whitesmoke;
  padding: 50px;
  display: grid;
  gap: 20px;
  grid-template-columns: 400px 1fr;
  align-items: center;
}

/* GALLERY */

.gallery {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.gallery img {
  width: 100%;
}

.gallery h2 {
  font-size: 5rem;
  text-align: center;
  grid-column: 1 / -1;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}

.gallery h2:before, .gallery h2:after {
  display: block;
  content: '';
  height: 10px;
  background: linear-gradient(to var(--direction, left), #ffc600, transparent);
}

.gallery h2:after {
  --direction: right;
}

@media (max-width: 1000px) {
  .menu {
    order: -1;
    perspective: 1000px;
  }

  [aria-controls="menu-list"] {
    display: block;
  }

  .menu ul {
    overflow: hidden;
    max-height: 0;
    transform: rotateX(90deg);
    transition: all 0.5s;
  }

  [aria-expanded="true"] ~ ul {
    display: grid;
    max-height: 500px;
    transform: rotateX(0);
  }

  [aria-expanded="false"] .close {
    display: none;
  }

  [aria-expanded="true"] .close {
    display: inline-block;
  }

  [aria-expanded="true"] .open {
    display: none;
  }
}

@media (max-width: 700px) {
    .top {
      grid-template-areas: 
      "hero hero"
      "cta1 cta2";
    }

    .about {
      grid-template-columns: 1fr;
    }
}

@media (max-width: 500px) {
  .top {
    grid-template-areas: 
    "hero"
    "cta1"
    "cta2";
  }
}
